<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">

        <div ng-controller="shoutboxCtrl" class="chat-panel panel panel-default chat-boder chat-panel-head">
            <div class="panel-heading">
                <i class="fa fa-comments fa-fw"></i>
                <span>Shoutbox</span>
            </div>

            <div class="panel-body">
                <ul class="chat-box">
                    <li ng-repeat="(id,message) in shoutboxMessages | orderBy:'date'" class="left clearfix">
                        <span class="chat-img pull-left">
                            <i class="fa fa-user fa-3x"></i>
                        </span>
                        <div class="chat-body">
                            <strong>{{message.user}}</strong>
                            <a class="fa fa-remove fa-fw remove-msg" ng-click="removeMessage(id)"></a>
                            <small class="pull-right text-muted">
                                <i class="fa fa-clock-o fa-fw"></i>{{message.date | date:'yyyy-MM-dd HH:mm:ss'}}
                            </small>
                            <p>
                                {{message.msg}}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <div class="input-group">

                    <form ng-submit="addMessage(newMessage, newMsgUser)">
                        <input type="text" ng-model="newMsgUser" class="form-control input-sm" readonly />
                        <input type="text" ng-model="newMessage" class="form-control input-sm" placeholder="Wpisz swoją wiadomość..." />
                        <button class="btn btn-warning btn-sm btn-chat-submit" id="btn-chat">
                            Wyślij
                        </button>
                    </form>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>